:root {
    --major: #15BAEA;
    --minor: #154FEA;
    --accent: #15EAB0;
    --correct: #15ea15;
    --incorrect: #ff5f43;
  }

*{
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
}

.overline {
    text-decoration: overline;
}